<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="20000" maxQueryString="20000" />
                <alwaysAllowedQueryStrings>
                </alwaysAllowedQueryStrings>
            </requestFiltering>
        </security>
        <httpErrors errorMode="Detailed">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="0" path="/notfound.cfm" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.cfm" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".msg" mimeType="msg/msg" />
        </staticContent>
        <caching enabled="false" enableKernelCache="false">
            <profiles>
                <add extension=".asmx" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
